
nav {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #e7e8ec;
    border-top: 1px solid #e7e8ec;
}
ul.ul_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 70%;
}
li.li_nav {
    font-size: 20px;
}
a.a_nav {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
img.bell {
    height: 28px;
    width: 28px;
}
img.logo {
    height: 28px;
}
img.fotoProfile {
    height: 32px;
    width: 32px;
    border-radius: 100%;
}